/* 共通CSS */
@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Quattrocento);
@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');

*{
  margin: 0px;
  padding: 0px;
}

*, *::before, *::after {box-sizing:border-box;}

html {font-size:62.5%;}

.clearfix::after {
  content:'';
  display:block;
  clear:both;
}

body {
  font-size:1.4rem;
  font-family: 'Oswald', Arial, sans-serif;
}

/* ローディング画面 */
#loader-bg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #000;
  z-index: 100;
}

.sk-cube-grid {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #fff;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}
@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        display: none;
        opacity: 0;
        z-index: -1;
    }
}

@media all and (max-width: 670px) {
  .sk-cube-grid {
  width: 60px;
  height: 60px;
}
}

/* sp表示非表示 */
.sp{display: none;}

@media all and (max-width: 670px) {
.sp{display:block;}
}

/* 共通フッター */
footer {
	background-color: black;
	border-top: solid 1px #eee;
	height:120px;
	color:white;
	font-size:15px;
	padding-top:30px;
	padding:20px;
  width: 100%;
}
/* common.cssここまで */

  .wrapper{
    width: 100vw;
    background-color: #f2f0f0;
  }
  #app{
    text-align: center;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    background-color: #f2f0f0;
  }

  .app_title{font-size: 35px;}
  
  .explain{
    margin: 10px 0px;
    color: #888;
  }

  .searchBox{
    width: 400px;
    height: 50px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
  }
  input[type="text"]:focus {
    border: 1px solid #b4b3b1;
    outline: 0;
  }
  .cardWrapper{
    display: flex; 
    flex-wrap:wrap; 
    width: 100%; 
    margin: auto;
  }
  .card{
    width: 300px;
    height: 400px;
    background-color: white;
    margin: auto;
    margin-top: 70px;
    border-radius: 10px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
    overflow: hidden;
    position: relative;
  }
  .card:last-child{
    margin-bottom: 50px;
  }

  .imgWrapper{
    height: 50%;
    background-color: #b4b3b1;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
  }
  .article{
    height: 50%;
  }

  /* Modal */
  button {
    font-size: 30px;
    border: none;
    background-color: transparent;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
  }
  
  .modal__overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .modal__container {
    max-height: 100vh;
    overflow-y: auto;
  }
  
  .modal__header {
    display: flex;
    justify-content: space-between;
  }
  
  .modal__close::before {content: "\2715";}
  
  /* Animation */
  @keyframes mmfadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes mmfadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
  }
  
  @keyframes mmslideIn {
    from {transform: translateY(10%);}
    to {transform: translateY(0);}
  }
  
  @keyframes mmslideOut {
    from {transform: translateY(0);}
    to {transform: translateY(-10%);}
  }
  
  .micromodal-slide {display: none;}
  
  .micromodal-slide.is-open {display: block;}
  
  .micromodal-slide[aria-hidden="false"] .modal__overlay {
    animation: mmfadeIn 0.8s cubic-bezier(0.34, 0.07, 0.095, 0.995);
  }
  
  .micromodal-slide[aria-hidden="false"] .modal__container {
    animation: mmslideIn 0.8s cubic-bezier(0.34, 0.07, 0.095, 0.995);
  }
  
  .micromodal-slide[aria-hidden="true"] .modal__overlay {
    animation: mmfadeOut 0.8s cubic-bezier(0.34, 0.07, 0.095, 0.995);
  }
  
  .micromodal-slide[aria-hidden="true"] .modal__container {
    animation: mmslideOut 0.8s cubic-bezier(0.34, 0.07, 0.095, 0.995);
  }
  
  .micromodal-slide .modal__container,
  .micromodal-slide .modal__overlay {
    will-change: transform;
  }
  
  .sp-RecipeImg{max-width: 500px;}

  .sp{display: none;}
  
  .sentence{
    padding: 40px;
  }
  @media all and (max-width: 670px) {
    #app{text-align: center;}

    .searchBox{
      font-size: 1.4rem;
      width: 300px;
      margin-top: 10px;
    }
    .sentence{padding-bottom: 0px;}
    .card{margin-top: 30px;}
    .sp-RecipeImg{max-width: 100%;}
    .sp{display: block;}
  }
  
  .coctailDetail{
    height: 80vh;
    width: 85vw;
    border-radius: 10px;
    background-color: white;
  }